h1 {
	text-align: center;
	padding-top: 30px;
	margin-bottom: -10px;
}
#description {
	text-align: center;
}
body {
	background-position: center;
	background-image: url("https://media.istockphoto.com/photos/colleagues-at-business-meeting-in-conference-room-picture-id618946910");
	background-repeat: no-repeat;
	background-size: cover;

	/*background-image: blur(20px);*/
}
.container {
	/*border: solid;*/
	position: relative;
	background-color: #273746;
	width: 20%;
	opacity: 0.95;
	color: white;
	font-size: 1.4rem;
	height: auto;

	/*padding: 20px;
	max-width: 500px;
	width: 50%;*/
}
#survey-form { 
    /*height: 300px;
  	width: 70%;*/
 }

.form-check-label {
	margin-left: 5px;
	padding-bottom: -500px;
}

.rituals { 
background-color: #e8e8e8;
height: 100px; 
width: 100%; 
position: relative;
right: 0; 
bottom: 0;
}